@{
    ViewData["Title"] = "Create / Edit";
}

@model SpendingsTracker.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create or Edit an expense.</h1>
</div>

<form asp-action="CreateEditExpenseForm" asp-controller="Home">
    <label  class="mt-4" for=""></label>
    <input hidden class="form-control"
           type="number"
           placeholder="0"
           asp-for="Id" />

    <label class="mt-4" for="">Value $</label>
    <input class="form-control "
           type="number"
           placeholder="0"
           asp-for="Value"
           step="0.01" />

    <label class="mt-4" for="">Description</label>
    <input class="form-control" type="text" placeholder="Add" asp-for="Description">

    <button class="btn btn-primary" type="submit">Save</button>
</form>
