@{ ViewData["Title"] = "My Expenses"; }

<head>
  <div>
        <h1 class="text-center">My Expenses</h1>
    <span>test pisania w asp.net mvc</span>
    <button>Test</button>
    <div>
      <a asp-action="Index" class="btn btn-primary">Overview</a>
    </div>
  </div>
</head>
