@{
    ViewData["Title"] = "My Expenses";
}
@model List<Expense>
<head>
    <div>
        <h1 class="text-center">My Expenses</h1>
        <span>test pisania w asp.net mvc</span>
        <button>Test</button>
        <div>
            <a asp-action="Index" class="btn btn-primary">Overview</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</head>
