@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">---------------</h1>
          <a asp-action="Expenses" class="btn btn-primary">Expenses</a>
                <a asp-action="CreateEditExpense" class="btn btn-primary">Create or Edit your's Expenses</a>
</div>
